*{
	margin: 0;
	padding: 0;
	font-family: Century Gotic;
	font-size: 25px;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.menu ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	margin: 50px;
}

.menu ul li{
	display: inline-block;
	list-style: none;
	margin: 0 20px;
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.menu ul li a:hover{
	background-color: #32CD32;
	color: #000;
}

.menu ul li.active a{
	background-color: #32CD32;
	color: #000;
}

.logo img{
	float: left;
	width: 200px;
	height: auto;
}

@media only screen and (max-width: 800px) {
  .logo img{
    display: none;
  }
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%-50%);
}

.title h1{
	color: #fff;
	font-size: 70px;
}

.button{
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%-50%);
}
.btn{
	border: 1px solid #fff;
	padding:10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #32CD32;
	color: #000;
}

h1{
	color: green;
	font-size: 110%;
	top: 200%;
}

.gallery{
	margin: 10px 50px;
}

.gallery img{
	transition: 1s;
	padding: 15px;
	width: 200px;
}

.gallery img:hover{
	filter: grayscale(100%);
	transform: scale(1.1);
}

.banner{
	width: 80%;
	height: 70%;
	top: 30%;
	left: 130px;
	position: absolute;
	color: red;
}

.app-text{
	width: 50%;
	float: left;	
}

.app-text h1{
	font-size: 43px;
	width: 640px;
	position: relative;
	margin-left: 40px;
}

.app-text p{
	width: 650px;
	font-size: 30px;
	margin: 30px 0 30px 40px;
	line-height: 25px;
}

.app-picture{
	width: 50%;
	float: right;
}

.video {
	width: 560px;
	height: 315px;
	margin: 30px 0 30px 40px;
	float: right;
}

iframe{
	float: right;
	margin-top: -20px;
	padding-left: 50px;
}