body {
  background-color: powderblue;
}
h2 {
  color: red;
  font-family: verdana;
  font-size: 250%;
}
p {
  color: darkblue;
  font: courier;
  font-size: 150%
}
h1 {
  color: darkgreen;
  font-family: verdana;
  font-size 250%;
}