body {
  background-color: powderblue;
}
h2 {
  color: red;
  font-family: verdana;
  font-size: 250%;
}
p {
  color: darkblue;
  font: courier;
  font-size: 150%
}
h1 {
  color: darkgreen;
  font-family: verdana;
  font-size 250%;
}
p.contactinfo {
  color: darkgoldenrod;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 135%;
}
.logo {
background-image:url(img/good.png);
height:150px;
width:800px;
margin:0px auto;
}
.button {
background:#c3ff00;
width:700px;
margin:0px auto;
color:#ffffff;
padding:15px;
}
.izvele {
width:900px;
margin:auto;
}
.izvelne {
background:#ffa500;
padding:10px;
}

.izvelne  li{
list-style-type:none;  
display:inline;
}

.izvelne li a{
text-decoration:none; 
background:#ffa500;
color:#ffffff; 
padding:10px; 
}

.izvelne li a:hover{
padding:30px;
background-color:#64665e ;
}